.categoriesArranged {
  position: fixed;
  top: 400px;
}

.categoryHeader {
  position: fixed;
  top: 249px;
  left: 0;
  height: 107.2px;
  width: 998px;
}

.h1 {
  position: fixed;
  top: 220px;
  left: 206px;
  height: 107.2px;
  font-family: "Helsinki Grotesk";
  font-size: 65px;
  font-weight: bold;
  line-height: 107px;
}

.BookLogo {
  position: fixed;
  top: 261px;
  left: 78px;
  height: 95px;

}
