.Container {
  position: relative;
  max-width: 600pt;
  align-items: auto;
  display:inline-block;
  text-align: center;
  float: center;
}

.Categories {
  display: inline-block;
  background-color: red;
}

.rectangle {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
}

.rectangleBookSearch {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #7FEBD3;
  border: 0px;
}

.OodiBox {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
  border: 0px;
}

.OodiBoxBookSearch {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #7FEBD3;
  border: 0px;
}

.BtnPic {
  position: fixed;
  top: 7px;
  left: 35px;
  border: 0px;
}

.p {
  position: fixed;
  top: 35px;
  left: 301.5px;
  height: 32px;
  width: 321px;
  color: #1F1F1F;
  font-family: "Helsinki Grotesk";
  font-size: 25px;
  line-height: 32px;
}

.IconWave {
  position: fixed;
  top: 1104px;
  left: 0px;
  height: 96px;
  width: 1600px;
  background: #000000;
  mask: url(../../assets/images/Border-Bottom.svg);
}

.SearchButton {
  position: fixed;
  top: 190px;
  left: 95px;
  height: 225px;
  width: 1410px;
  border-radius: 10px;
  background-color: #7FEBD3;
  border: 0px;
}

.ToiletButton {
  position: fixed;
  top: 455px;
  left: 95px;
  height: 225px;
  width: 1410px;
  border-radius: 10px;
  background-color: #F4D9E5;
  border: 0px;
}

.CafeButton {
  position: fixed;
  top: 720px;
  left: 95px;
  height: 225px;
  width: 1410px;
  border-radius: 10px;
  background-color: #FFEA80;
  border: 0px;
}

.BookLogo {
  position: fixed;
  top: 245px;
  left: 170px;
}

.WCLogo {
  position: fixed;
  top: 510px;
  left: 170px;
}

.CafeLogo {
  position: fixed;
  top: 775px;
  left: 170px;
}

.Arrow1 {
  position: fixed;
  top: 250px;
  left: 1380px;
  border: 10px;
}

.Text1 {
  position: fixed;
  top: 190px;
  left: 345px;
  font-size: 50px;
  line-height: 75px;
}

.Explanation1 {
  position: fixed;
  top: 270px;
  left: 345px;
  font-family: "Helsinki Grotesk";
  font-size: 40px;
  line-height: 45px;
}

.Arrow2 {
  position: fixed;
  top: 515px;
  left: 1380px;
  border: 10px;
}

.Text2 {
  position: fixed;
  top: 450px;
  left: 345px;
  font-size: 50px;
  line-height: 75px;
}

.Explanation2 {
  position: fixed;
  top: 530px;
  left: 345px;
  font-family: "Helsinki Grotesk";
  font-size: 40px;
  line-height: 45px;
}

.Arrow3 {
  position: fixed;
  top: 780px;
  left: 1380px;
  border: 10px;
}

.Text3 {
  position: fixed;
  top: 715px;
  left: 345px;
  font-size: 50px;
  line-height: 75px;
}

.Explanation3 {
  position: fixed;
  top: 795px;
  left: 345px;
  font-family: "Helsinki Grotesk";
  font-size: 40px;
  line-height: 45px;
}

.IconWaveBooks {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 201px;
  width: 1600px;
  background-color: #7FEBD3;
  z-index: -300;
  mask: url(../../assets/images/Border-Top.svg);
  mask-size: cover;

}
