.Category {
  position: relative;
  top: 0px;
  left: 0px;
	height: 97px;
	width: 443px;
  margin-left: 10px;
  margin-right: 55px;
  margin-bottom: 40px;
  background-color: white;
	border: 4.2px solid #000000;
  font-size: 35px;
  font-weight: bold;
  font-family: "Helsinki Grotesk";
}
