.Category {
  position: relative;
  top: 0px;
  left: 100px;
	height: 97px;
	width: 349px;
  margin: 30px;
  background-color: white;
	border: 4.2px solid #000000;
  font-size: 35px;
  font-weight: bold;
  font-family: "Helsinki Grotesk";
}
