.SearchForm {
  position: fixed;
  top: 40px;
  left: 81px;
  width: 1283px;
  height: 97px;
  border-radius: 13px;
  font-size: 50px;
  font-weight: 500;
  line-height: 75px;
  font-family: "Helsinki Grotesk";
  border: 0px;
  text-align: 200px 52px;
}

.h1 {
  text-align: center;
}

.Button {
  position: fixed;
  float: right;
  visibility: hidden;
}

.rectangle {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
}

.OodiBox {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
  border: 0px;
}
