.SearchForm {
  position: fixed;
  top: 40px;
  left: 81px;
  width: 1283px;
  height: 97px;
  border-radius: 13px;
  font-size: 50px;
  font-weight: 500;
  line-height: 75px;
  font-family: "Helsinki Grotesk";
  border: 0px;
  text-align: 200px 52px;
  visibility: hidden;
}

.h1 {
  text-align: center;
}

.Button {
  position: fixed;
  float: right;
  visibility: hidden;
}

.rectangle {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color:inherit;
}

.OodiBox {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: inherit;
  border: 0px;
  margin: 0px;
}

.BottomBar {
  position: fixed;
  top: 1090px;
  left: 0px;
  width: 1600px;
  height: 110px;
}

.BackButton {
  position: fixed;
  top: 1111px;
  left: 35px;
  height: 70px;
  width: 250px;
}

.LeftArrow {
  position: fixed;
  top: 1116px;
  left: 40px;
  height: 60px;
  width: 60px;
}

.BackButtonText {
  position: fixed;
  top: 1085px;
  left: 140px;
  height: 51px;
  width: 89px;
  color: #1F1F1F;
  font-family: "Helsinki Grotesk";
  font-size: 50px;
  font-weight: bold;
  line-height: 51px;
}

.Arrow {
  position: fixed;
  top: 680px;
  left: 685px;
  height: 210px;
  width: 210px;
}

.GuidanceMsg {
  position: fixed;
  top: 200px;
  left: 0px;
  height: 154px;
  width: 1600px;
  color: #000000;
  font-family: "Helsinki Grotesk";
  font-size: 120px;
  font-weight: bold;
  line-height: 154px;
  text-align: center;
}
