.TitleHolder {
  position: fixed;
  left: 81px;
  top: 55px;
	height: 64px;
	width: 1293px;
	color: #000000;
	font-family: "Helsinki Grotesk";
	font-size: 50px;
	font-weight: bold;
	line-height: 64px;
}

.TheNearestWc {
  position: fixed;
  left: 81px;
  top: 55px;
	height: 64px;
	width: 1293px;
	color: #000000;
	font-family: "Helsinki Grotesk";
	font-size: 50px;
	font-weight: bold;
	line-height: 64px;
}

.rectangle {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
}

.OodiBox {
  position: fixed;
  top: 29px;
  left: 1393px;
  height: 111px;
  width: 173px;
  background-color: #FFFFFF;
  border: 0px;
}

.MapBox {
  position: fixed;
  border: 1px solid;
  top: 130px;
  left: 82px;
  height: 598px;
  width: 1457px;
}

.WouldYouLikeToilet {
  position: fixed;
  top: 720px;
  left: 232px;
	height: 107.2px;
	width: 1158px;
	color: #1F1F1F;
	font-family: "Helsinki Grotesk";
	font-size: 65px;
	font-weight: bold;
	line-height: 107px;
	text-align: center;
}

.No {
  position: fixed;
  top: 898px;
  left: 436px;
	height: 97px;
	width: 349px;
	border: 4.2px solid #000000;
}

.Yes {
  position: fixed;
  top: 898px;
  left: 815px;
  height: 97px;
  width: 349px;
  background-color: #000000;
}

.IconWave {
  position: fixed;
  top: 1104px;
  left: 0px;
  height: 96px;
  width: 1600px;
  background: #F4D9E5;
  mask: url(../../assets/images/Border-Bottom.svg);
}

.OodiPink {
  position: fixed;
  top: 1104px;
  left: 0px;
  height: 96px;
  width: 1600px;
  background-color: #F4D9E5;
}

.GuidanceContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 1200px;
}

.GuidanceMsg {
  position: fixed;
  top: 335px;
  left: 0px;
  height: 154px;
  width: 1600px;
  color: #000000;
  font-family: "Helsinki Grotesk";
  font-size: 120px;
  font-weight: bold;
  line-height: 154px;
  text-align: center;
}

.GuidanceSubMsg {
  position: fixed;
  top: 516px;
  left: 145px;
  height: 64px;
  width: 1293px;
  color: #000000;
  font-family: "Helsinki Grotesk";
  font-size: 50px;
  line-height: 64px;
  text-align: center;
}

.Icon {
  position: fixed;
  top: 680px;
  left: 685px;
  height: 210px;
  width: 210px;
}

.GuidanceMsgForHome {
  position: fixed;
  top: 101px;
  left: 0px;
  height: 154px;
  width: 1600px;
  color: #000000;
  font-family: "Helsinki Grotesk";
  font-size: 120px;
  font-weight: bold;
  line-height: 154px;
  text-align: center;
}

.GuidanceSubMsgForHome {
  position: fixed;
  top: 296px;
  left: 145px;
  height: 64px;
  width: 1293px;
  color: #000000;
  font-family: "Helsinki Grotesk";
  font-size: 50px;
  line-height: 64px;
  text-align: center;
}

.IconForHome {
  position: fixed;
  top: 460px;
  left: 685px;
  height: 210px;
  width: 210px;
}

.IconWavePink {
  position: fixed;
  top: 1104px;
  left: 0px;
  height: 96px;
  width: 1600px;
  background: #F4D9E5;
  mask: url(../../assets/images/Border-Bottom.svg);
}

.IconWaveYellow {
  position: fixed;
  top: 1104px;
  left: 0px;
  height: 96px;
  width: 1600px;
  background: #FFEA80;
  mask: url(../../assets/images/Border-Bottom.svg);
}

.StartLogo {
  position: fixed;
  bottom: 0px;
  left: -1px;
}
